<div class="description">
  <div class="photo">
    <img src="assets/main/portrait.jpg">
  </div>

  <div class="text">
    <h2>👋 Hello, guys!</h2>
    <p>My name is Kostiantyn (or shortly Kostya) a.k.a. hunterlan. I am {{this.currentAge}} years old and
      I'm software engineer from Mariupol, Ukraine.</p>
    <p>My current job is full-stack .NET + Angular developer and Flutter developer. I love modern .NET because with new
      versions it suggests more and more beautiful ways to write great code. If only Microsoft would maintain their frameworks better...</p>
    <p>I'm seeking my way to be an active member of developer community.</p>
    <p>As a hobby, I support Ukrainian wikipedia - translating new articles, add and refresh information on existing pages.
      Also, I'm passionate about video editing, I have two YouTube channels (gaming and technical).</p>
    <p>That's not the end of my hobbies, because I love sports (football as a defender, running, gym and karate), travelling,
      books, meet with new people and cooking!</p>
  </div>
  <div class="support-ukraine">
    <b>❤️ Thank you for supporting Ukraine!</b>
    <p>I'm grateful to everyone who continues to stand with Ukraine in our fight for freedom.</p>

    <p><a routerLink="/ukraine">See how you can help</a></p>
  </div>
</div>
