
  <mat-toolbar class="footer" color="primary">
    <a routerLink="" class="links main-link">hunterlan.dev</a>
    <span class="spacer"></span>
    <div class="social_media">
      <a href="https://github.com/hunterlan">
        <mat-icon svgIcon="github-mark" style="width: 24px" [ngStyle]="{'color': 'white'}"></mat-icon>
      </a>
      <a href="mailto:konstantin.sharykin@outlook.com">
        <mat-icon fontIcon="mail" [ngStyle]="{'color': 'white'}"></mat-icon>
      </a>
    </div>
  </mat-toolbar>
