<h2>How to support Ukraine?</h2>
<mat-tab-group>
  <mat-tab label="Donate">
    <div class="image-links">
      <a href="https://savelife.in.ua/en/">
        <img src="assets/main/Come_back_alive_logo.svg" width="200">
      </a>
      <a href="https://prytulafoundation.org/en">
        <img src="assets/main/Serhey_Prytula_Foundation_logo.svg" width="125">
      </a>
    </div>
  </mat-tab>
  <mat-tab label="Host Ukrainian refugees">
    <p>Families, children, and refugees are seeking safe places of shelter around the world. You can save lives by providing a place to stay.</p>
    <ul>
      <li>Find groups and global services that can help host refugees in your area/country (NGOs, local communities, etc).</li>
      <li>If none exist in your area and you feel you can help – create your own Facebook groups and/or local initiatives!</li>
      <li>Reach out to local authorities and inquire about organizing official refugee programs.</li>
    </ul>
  </mat-tab>
  <mat-tab label="Other">
    <p>If you want help, but don't have resources, you can still do it:</p>
    <ul>
      <li>Donate unused clothes, medical supplies, tools & equipment to refugee centers or Ukrainian charities</li>
      <li><a href="https://ethicalconsumer.org/ethicalcampaigns/boycotts/should-we-boycott-russia">Avoid physical products made in Russia</a></li>
      <li><a href="https://stand-with-ukraine.pp.ua/Boycott.html">Avoid software products made in Russia</a></li>
      <li>Ask your employer or colleagues to help Ukraine</li>
      <li><a href="https://volunteeringukraine.com">Explore volunteering opportunities in Ukraine</a></li>
    </ul>
  </mat-tab>
</mat-tab-group>
<h2>Beware of fake fundraisers!</h2>
<p>The Russian government and other potential criminals are trying to disrupt fundraising efforts by creating fake campaigns.
  Please trust ONLY the resources listed here or <a href="https://war.ukraine.ua/donate/">here</a> and double-check the URLs! </p>
<h2 style="text-align: center; font-family: 'Roboto Thin', sans-serif">Glory to Ukraine! Glory to Heroes!</h2>
