/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 20px }

.links {
  text-decoration: none; /* Remove underline */
  color: inherit;
  padding: 0 0.5rem;
}

.spacer {
  flex: 1 1 auto;
}

.main-link {
  font-family: "Pixelify Sans", sans-serif;
}
